<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>arg</key>
		<string>--verbose</string>
		<key>help</key>
		<string>Verbose boot</string>
		<key>default</key>
		<false/>
	</dict>
	<dict>
		<key>arg</key>
		<string>--debug_oc</string>
		<key>help</key>
		<string>OpenCore DEBUG</string>
		<key>default</key>
		<false/>
	</dict>
	<dict>
		<key>arg</key>
		<string>--debug_kext</string>
		<key>help</key>
		<string>Kext DEBUG</string>
		<key>default</key>
		<false/>
	</dict>
	<dict>
		<key>arg</key>
		<string>--skip_wifi</string>
		<key>help</key>
		<string>Assume upgraded WiFi</string>
		<key>default</key>
		<false/>
	</dict>
	<dict>
		<key>arg</key>
		<string>--hide_picker</string>
		<key>help</key>
		<string>Hide OpenCore Picker</string>
		<key>default</key>
		<false/>
	</dict>
	<dict>
		<key>arg</key>
		<string>--vault</string>
		<key>help</key>
		<string>Vault</string>
		<key>default</key>
		<false/>
	</dict>
	<dict>
		<key>arg</key>
		<string>--disable_sip</string>
		<key>help</key>
		<string>Disable System Integrity Protection</string>
		<key>default</key>
		<false/>
	</dict>
	<dict>
		<key>arg</key>
		<string>--disable_smb</string>
		<key>help</key>
		<string>Disable SecureBootModel</string>
		<key>default</key>
		<false/>
	</dict>
</array>
</plist>
